\:root
    --font: 'Gilroy', sans-serif
    --black: #000
    --grey: #F9F9F9
    --white: #ffffff
    --blue: #01BEFE
    --yellow: #FEB701
    --light-blue: #EBFAFF
    --ruby: #C14073
    --red: #EA0101
    --green: #34A853
    --viber: #7c529d
    --telegram: #2ca5e0
    --whatsapp: #25d366
    --messenger: #50a8ff


// Breakpoints
$max-xxl: 'max-width: 1559.98px'
$max-xl: 'max-width: 1259.98px'
$max-lg: 'max-width: 991.98px'
$max-md: 'max-width: 767.98px'
$max-sm: 'max-width: 575.98px'
$max-xs: 'max-width: 389.98px'

$min-xxl: 'min-width: 1560px'
$min-xl: 'min-width: 1260px'
$min-lg: 'min-width: 992px'
$min-md: 'min-width: 768px'
$min-sm: 'min-width: 576px'
$min-xs: 'min-width: 390px'


// Z-index
$z-index-minus: -1
$z-index-0: 0
$z-index-1: 1
$z-index-2: 2
$z-index-3: 3
$z-index-4: 4
