.mobile-nav
    .mobile-nav__sidebar
        .mobile-nav__inner
            nav.mobile-nav-menu.mobile-nav-menu--visible-md
                ul.mobile-nav-menu__list
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link.is-active(href="#") Наші проекти

                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Новини
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Статті
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Про нас
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Вакансії
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Контакти

            nav.mobile-nav-menu.mobile-nav-menu--hidden-md
                ul.mobile-nav-menu__list
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") ШБ турнір

                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") ШБ творчість
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Українські підсказки
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Англійські підсказки
