.news-slider
    .swiper.news-slider__swiper
        .swiper-wrapper.news-slider__wrapper
            .swiper-slide.news-slider__slide
                article.news-card
                    a.news-card__link(href="#") 
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-1.webp" srcset="img/news-img-1@2x.webp 2x" loading="lazy" width="540" height="303" alt="alt")
                
                        h3.news-card__title The Stanley Parable: Ultra Deluxe in Ukrainian!

                        p.news-card__descr Celebrating The Stanley Parable: Ultra Deluxe – Ukrainian localization is now available 

                    .news-card__feedback
                        .rating(data-rating="4")
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                        
                        a.blue-link(href="#") 5 відгуків 

                    a.button.button--outline.news-card__button(href="#") Читати детальніше

            .swiper-slide.news-slider__slide
                article.news-card
                    a.news-card__link(href="#") 
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-2.webp" srcset="img/news-img-2@2x.webp 2x" loading="lazy" width="540" height="303" alt="alt")
                
                        h3.news-card__title The Stanley Parable: Ultra Deluxe in Ukrainian!

                        p.news-card__descr Celebrating The Stanley Parable: Ultra Deluxe – Ukrainian localization is now available

                    .news-card__feedback
                        .rating(data-rating="4")
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                        
                        a.blue-link(href="#") 5 відгуків 

                    a.button.button--outline.news-card__button(href="#") Читати детальніше
            
            .swiper-slide.news-slider__slide
                article.news-card
                    a.news-card__link(href="#") 
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-1.webp" srcset="img/news-img-1@2x.webp 2x" loading="lazy" width="540" height="303" alt="alt")
                
                        h3.news-card__title The Stanley Parable: Ultra Deluxe in Ukrainian!

                        p.news-card__descr Celebrating The Stanley Parable: Ultra Deluxe – Ukrainian localization is now available 

                    .news-card__feedback
                        .rating(data-rating="4")
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                        
                        a.blue-link(href="#") 5 відгуків 

                    a.button.button--outline.news-card__button(href="#") Читати детальніше

            .swiper-slide.news-slider__slide
                article.news-card
                    a.news-card__link(href="#") 
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-2.webp" srcset="img/news-img-2@2x.webp 2x" loading="lazy" width="540" height="303" alt="alt")
                
                        h3.news-card__title The Stanley Parable: Ultra Deluxe in Ukrainian!

                        p.news-card__descr Celebrating The Stanley Parable: Ultra Deluxe – Ukrainian localization is now available

                    .news-card__feedback
                        .rating(data-rating="4")
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                        
                        a.blue-link(href="#") 5 відгуків 

                    a.button.button--outline.news-card__button(href="#") Читати детальніше
                    
            .swiper-slide.news-slider__slide
                article.news-card
                    a.news-card__link(href="#") 
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-1.webp" srcset="img/news-img-1@2x.webp 2x" loading="lazy" width="540" height="303" alt="alt")
                
                        h3.news-card__title The Stanley Parable: Ultra Deluxe in Ukrainian!

                        p.news-card__descr Celebrating The Stanley Parable: Ultra Deluxe – Ukrainian localization is now available 

                    .news-card__feedback
                        .rating(data-rating="4")
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                        
                        a.blue-link(href="#") 5 відгуків 

                    a.button.button--outline.news-card__button(href="#") Читати детальніше

            .swiper-slide.news-slider__slide
                article.news-card
                    a.news-card__link(href="#") 
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-2.webp" srcset="img/news-img-2@2x.webp 2x" loading="lazy" width="540" height="303" alt="alt")
                
                        h3.news-card__title The Stanley Parable: Ultra Deluxe in Ukrainian!

                        p.news-card__descr Celebrating The Stanley Parable: Ultra Deluxe – Ukrainian localization is now available

                    .news-card__feedback
                        .rating(data-rating="4")
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                        
                        a.blue-link(href="#") 5 відгуків 

                    a.button.button--outline.news-card__button(href="#") Читати детальніше
        
        .swiper-scrollbar.news-slider__scrollbar
