section#about-section.about-section
    nav.page-nav.about-section__page-nav
        button.page-nav__toggle(type="button" data-toggle="page-nav-menu" aria-expanded="false") Навігація по сторінці
            svg.page-nav__toggle-arrow(width="11" height="7")
                use(xlink:href="img/sprite.svg#dropdown-arrow")

        #page-nav-menu.page-nav__menu(aria-hidden="true")
            ul.page-nav__list
                li.page-nav__item
                    a.page-nav__link(href="#header" data-scroll) Про Шлякбитраф
                
                li.page-nav__item
                    a.page-nav__link(href="#projects-section" data-scroll) Проекти
                
                li.page-nav__item
                    a.page-nav__link(href="#feedback-section" data-scroll) Відгуки
                
                li.page-nav__item
                    a.page-nav__link(href="#team-section" data-scroll) Склад організації
                
                li.page-nav__item
                    a.page-nav__link(href="#support-section" data-scroll) Долучитися
                
                li.page-nav__item
                    a.page-nav__link(href="#social-section" data-scroll) Підтримати

    .container.about-section__container
        .about-section__text
            p Вітаємо! Ми ТОВ Локалізаційна спілка «Шлякбитраф» (також ТОВ «ЛС ШБТ», “SBT Localization” Limited Liability Company, SBT Localization LLC).
            p Наше товариство сформувалося на основі спілки перекладачів «Шлякбитраф», створену 2012 року Ігорем Солодраєм з учасників волонтерської української локалізації гри Baldur’s Gate: Enhanced Edition. Частина з причетних до проєкту вирішили не зупинятися на досягнутому, а продовжувати просувати українську мову в іграх. А пізніше, 1 липня 2018 року, спілка зареєструвалася як громадська організація. Головною метою її стало популяризація ігрової культури та просвітницька робота у цьому напрямі, створення українського ігрового контенту та просування його використання споживачам, розширюючи цим український медіа-ринок. Зараз спілка складається в основному з професійних перекладачів та редакторів. 9 травня 2024 року зареєстровані як ТОВ.
            p Ми віримо, що український гравець заслуговує на якісну українську локалізацію своїх улюблених ігор.
