section.news-section
    .container.news-section__container
        header.section-header
            h2.section-title.section-header__title Статті
            a.button.section-header__button(href="#") Усі статті

        include ./includes/_news-slider.pug

        a.button.news-section__more-button(href="#") Усі статті
        