section.article-section
    .container.article-section__container
        .article-section__text
            .article-section__row
                .article-section__col.article-section__col--8
                    picture.article-section__picture
                        img.article-section__img(src="img/article-img-1.webp" srcset="img/article-img-1@2x.webp 2x" loading="lazy" width="1010" height="471" alt="alt")
                    
                .article-section__col.article-section__col--4
                    h2 Вітання, шановні друзі!
                    p Хай примхлива весняна погода не псує вам настрій, а українська локалізація хай якнайшвидше приходить у ваші улюблені відеоігри. До слова про українську локалізацію, от далі коротко й розповімо про наші успіхи в лютому та березні.
            
            p Вийшла «Minecraft. Офіційна кулінарна книга» від видавництва Mal’opus. Якщо ви шанувальник гри Minecraft, то варто придбати цю книжку. А навіть якщо ні, то все одно варто придбати, адже в ній містяться цікаві та неординарні рецепти, які вам обов’язково сподобаються.
            p Невдовзі після виходу книжки ми розіграли два примірники для наших доброчинців на 
                a.blue-link(href="#") Patreon
                |  і 
                a.blue-link(href="#") Buy me a coffee
                | .
            p Більше про цю кулінарну книгу та процес її перекладу можна почитати в статті «
                a.blue-link(href="#") Рецепти з Minecraft: гоґліни, висушні й іскрочай
                | ».
            p Ігрових релізів за цей період не було. Втім, у лютому вийшло чергове велике оновлення до 
                a.blue-link(href="#") Baldur’s Gate 3
                | , і ми опублікували вірш, на який гра надихнула нашого перекладача.

            .article-section__row.article-section__row--reverse
                .article-section__col.article-section__col--6
                    .article-section__descr
                        p У космопустці, де так яскраво сяють зорі,Між Сліз Селуне, в небеснім темнім морі,В тунелях астероїда, що крізь пітьму несеться, Розкинувсь креш ґітьянкі, той що К’ліїром зветься.
                        p Онде варш мудрий, розплідника доглядач він уважний.Яйце пильно спозирає — в нім воїн підроста відважний.Упертий, сильний і рішучий, завзятий, невідступний,Влаакіт істинний звитяжець, же’стіл кіт’рак наступний.
                        p «Чик, — мовить, — ну ж бо, скинь геть шкаралупу,Виходь мерщій на світло, полиш свою яєчну цюпу». Тук, іще тук — ґітьянченя немов його почуло.Враз хрусь — зсередини на волю щось рвонуло.
                        p Не воїн, а воїтелька — велика завойовниця земель,Я наречу тебе велично й красно: ти — Лей’зель. Дракон червоний, срібний меч — пора почати сходження до слави.Іди, дитя, рушай — хай ґіші занесуть твоє ім’я в кружали.
                
                .article-section__col.article-section__col--6
                    picture.article-section__picture
                        img.article-section__img(src="img/article-img-2.webp" srcset="img/article-img-2@2x.webp 2x" loading="lazy" width="750" height="999" alt="alt")

            h3 Вичитуємо та перекладаємо
            p На волонтерських проєктах ситуація зараз така:
            p 
                a.blue-link(href="#") Planescape: Torment
                |  — перекладено 28%. За лютий і березень поступ перекладу збільшився на 8%, а це приблизно 80 тисяч слів.
            p 
                a.blue-link(href="#") Atom RPG: Trudograd
                |  — перекладено 99%.
            p 
                a.blue-link(href="#") Darkest Dungeon
                |  — перекладено 99%. Українізатор доступний для завантаження.
            p 
                a.blue-link(href="#") Kingdom Come Deliverance
                |  — триває вичитування. Уже готово 48%. Нагадуємо, що гра перекладена повністю, українську локалізацію можна вибрати в грі.
