section.catalog-section
    .container.catalog-section__container
        nav.tags.catalog-section__tags
            ul.tags__list
                li.tags__item
                    a.button.button--outline.tags__button.is-active(href="#") Ігри
                
                li.tags__item
                    a.button.button--outline.tags__button(href="#") Книги
                
                li.tags__item
                    a.button.button--outline.tags__button(href="#") Настільні ігри
        
        ul.catalog-section__list
            li.catalog-section__item
                a.project-card(href="#")
                    picture.project-card__picture
                        img.project-card__img(src="img/projects/project-img-1.webp" srcset="img/projects/project-img-1@2x.webp 2x" loading="lazy" width="350" height="400" alt="alt")
                    
                    h3.project-card__title Sherlock Holmes Chapter One

                    .project-card__content
                        h4.project-card__subtitle Sherlock Holmes Chapter One
                        
                        p.project-card__text Шерлок Холмс не зразу став славетним детективом, яким він постає в книжках та фільмах. Спочатку він був звичайним собі юнаком, хіба дуже кмітливим і дещо зарозумілим.
                        
            li.catalog-section__item
                a.project-card(href="#")
                    picture.project-card__picture
                        img.project-card__img(src="img/projects/project-img-2.webp" srcset="img/projects/project-img-2@2x.webp 2x" loading="lazy" width="350" height="400" alt="alt")
                    
                    h3.project-card__title Sherlock Holmes: The Awakened

                    .project-card__content
                        h4.project-card__subtitle Sherlock Holmes: The Awakened
                        
                        p.project-card__text Шерлок Холмс не зразу став славетним детективом, яким він постає в книжках та фільмах. Спочатку він був звичайним собі юнаком, хіба дуже кмітливим і дещо зарозумілим.
                        
            li.catalog-section__item
                a.project-card(href="#")
                    picture.project-card__picture
                        img.project-card__img(src="img/projects/project-img-1.webp" srcset="img/projects/project-img-1@2x.webp 2x" loading="lazy" width="350" height="400" alt="alt")
                    
                    h3.project-card__title Sherlock Holmes Chapter One

                    .project-card__content
                        h4.project-card__subtitle Sherlock Holmes Chapter One
                        
                        p.project-card__text Шерлок Холмс не зразу став славетним детективом, яким він постає в книжках та фільмах. Спочатку він був звичайним собі юнаком, хіба дуже кмітливим і дещо зарозумілим.
                        
            li.catalog-section__item
                a.project-card(href="#")
                    picture.project-card__picture
                        img.project-card__img(src="img/projects/project-img-2.webp" srcset="img/projects/project-img-2@2x.webp 2x" loading="lazy" width="350" height="400" alt="alt")
                    
                    h3.project-card__title Sherlock Holmes: The Awakened

                    .project-card__content
                        h4.project-card__subtitle Sherlock Holmes: The Awakened
                        
                        p.project-card__text Шерлок Холмс не зразу став славетним детективом, яким він постає в книжках та фільмах. Спочатку він був звичайним собі юнаком, хіба дуже кмітливим і дещо зарозумілим.
                        
            li.catalog-section__item
                a.project-card(href="#")
                    picture.project-card__picture
                        img.project-card__img(src="img/projects/project-img-1.webp" srcset="img/projects/project-img-1@2x.webp 2x" loading="lazy" width="350" height="400" alt="alt")
                    
                    h3.project-card__title Sherlock Holmes Chapter One

                    .project-card__content
                        h4.project-card__subtitle Sherlock Holmes Chapter One
                        
                        p.project-card__text Шерлок Холмс не зразу став славетним детективом, яким він постає в книжках та фільмах. Спочатку він був звичайним собі юнаком, хіба дуже кмітливим і дещо зарозумілим.
                        
            li.catalog-section__item
                a.project-card(href="#")
                    picture.project-card__picture
                        img.project-card__img(src="img/projects/project-img-2.webp" srcset="img/projects/project-img-2@2x.webp 2x" loading="lazy" width="350" height="400" alt="alt")
                    
                    h3.project-card__title Sherlock Holmes: The Awakened

                    .project-card__content
                        h4.project-card__subtitle Sherlock Holmes: The Awakened
                        
                        p.project-card__text Шерлок Холмс не зразу став славетним детективом, яким він постає в книжках та фільмах. Спочатку він був звичайним собі юнаком, хіба дуже кмітливим і дещо зарозумілим.
                        
            li.catalog-section__item
                a.project-card(href="#")
                    picture.project-card__picture
                        img.project-card__img(src="img/projects/project-img-1.webp" srcset="img/projects/project-img-1@2x.webp 2x" loading="lazy" width="350" height="400" alt="alt")
                    
                    h3.project-card__title Sherlock Holmes Chapter One

                    .project-card__content
                        h4.project-card__subtitle Sherlock Holmes Chapter One
                        
                        p.project-card__text Шерлок Холмс не зразу став славетним детективом, яким він постає в книжках та фільмах. Спочатку він був звичайним собі юнаком, хіба дуже кмітливим і дещо зарозумілим.
                        
            li.catalog-section__item
                a.project-card(href="#")
                    picture.project-card__picture
                        img.project-card__img(src="img/projects/project-img-2.webp" srcset="img/projects/project-img-2@2x.webp 2x" loading="lazy" width="350" height="400" alt="alt")
                    
                    h3.project-card__title Sherlock Holmes: The Awakened

                    .project-card__content
                        h4.project-card__subtitle Sherlock Holmes: The Awakened
                        
                        p.project-card__text Шерлок Холмс не зразу став славетним детективом, яким він постає в книжках та фільмах. Спочатку він був звичайним собі юнаком, хіба дуже кмітливим і дещо зарозумілим.
                        
            li.catalog-section__item
                a.project-card(href="#")
                    picture.project-card__picture
                        img.project-card__img(src="img/projects/project-img-1.webp" srcset="img/projects/project-img-1@2x.webp 2x" loading="lazy" width="350" height="400" alt="alt")
                    
                    h3.project-card__title Sherlock Holmes Chapter One

                    .project-card__content
                        h4.project-card__subtitle Sherlock Holmes Chapter One
                        
                        p.project-card__text Шерлок Холмс не зразу став славетним детективом, яким він постає в книжках та фільмах. Спочатку він був звичайним собі юнаком, хіба дуже кмітливим і дещо зарозумілим.
                        
            li.catalog-section__item
                a.project-card(href="#")
                    picture.project-card__picture
                        img.project-card__img(src="img/projects/project-img-2.webp" srcset="img/projects/project-img-2@2x.webp 2x" loading="lazy" width="350" height="400" alt="alt")
                    
                    h3.project-card__title Sherlock Holmes: The Awakened

                    .project-card__content
                        h4.project-card__subtitle Sherlock Holmes: The Awakened
                        
                        p.project-card__text Шерлок Холмс не зразу став славетним детективом, яким він постає в книжках та фільмах. Спочатку він був звичайним собі юнаком, хіба дуже кмітливим і дещо зарозумілим.

        a.button.catalog-section__more-button(href="#") Показати більше

