section.details-section
    .container.details-section__container
        .details-section__left
            picture.details-section__picture
                img.details-section__img(src="img/details-img.webp" srcset="img/details-img@2x.webp 2x" loading="lazy" width="880" height="519" alt="alt")
                    
        .details-section__right
            .details-section__content
                p Відеогра в жанрі шутера від першої особи. Продовження до 
                    a.blue-link(href="#") Metro 2033
                p
                    strong Сюжет:
                    |  головний герой мусить запобігти громадянській війні між мешканцями різних станцій московського метро.
                p
                    strong Розробник:
                    |  4A Games (Україна)
                p
                    strong Видавець:
                    |  Deep Silver (Німеччина)
                p
                    strong Локалізація:
                    |  офіційна. 
                    a.blue-link(href="#") Steam
                p
                    strong Озвучення:
                    |  студія «Омікрон»
                p
                    strong Дата закінчення перекладу:
                    |  вересень 2013 р.
                p
                    strong Об’єм:
                    |  99 тисяч слів

            a.button.details-section__button(href="#" data-modal="modal-like") Сподобався проект?
