section.header-section
    .container.header-section__container
        h1.header-section__title Metro: Last Light Redux

        nav.breadcrumbs.header-section__breadcrumbs(aria-label="breadcrumb")
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Головна
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Наші проекти
                li.breadcrumbs__item(aria-current="page") Metro: Last Light Redux
