section.email-section
    .container.email-section__container
        svg.email-section__bg-left(width="132" height="97")
            use(xlink:href="img/sprite.svg#email-2")

        svg.email-section__bg-right(width="132" height="97")
            use(xlink:href="img/sprite.svg#email-2")

        .email-section__content
            h2.email-section__title Пишіть Нам
            a.email-section__link(href="mailto:info@sbt.localization.com.ua") info@sbt.localization.com.ua
