section.feed-section
    .container.feed-section__container
        nav.tags.feed-section__tags
            ul.tags__list
                li.tags__item
                    a.button.button--outline.tags__button.is-active(href="#") Всі
                
                li.tags__item
                    a.button.button--outline.tags__button(href="#") #tag name
                
                li.tags__item
                    a.button.button--outline.tags__button(href="#") #tag name
                
                li.tags__item
                    a.button.button--outline.tags__button(href="#") #tag name
                
                li.tags__item
                    a.button.button--outline.tags__button(href="#") #tag name
                
                li.tags__item
                    a.button.button--outline.tags__button(href="#") #tag name
                
                li.tags__item
                    a.button.button--outline.tags__button(href="#") #tag name

                li.tags__item
                    a.button.button--outline.tags__button(href="#") #tag name
        
        ul.feed-section__list
            li.feed-section__item
                article.news-card
                    a.news-card__link(href="#") 
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-1.webp" srcset="img/news-img-1@2x.webp 2x" loading="lazy" width="540" height="303" alt="alt")
                
                        h3.news-card__title The Stanley Parable: Ultra Deluxe in Ukrainian!

                        p.news-card__descr Celebrating The Stanley Parable: Ultra Deluxe – Ukrainian localization is now available 

                    .news-card__feedback
                        .rating(data-rating="4")
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                        
                        a.blue-link(href="#") 5 відгуків 

                    a.button.button--outline.news-card__button(href="#") Читати детальніше
            
            li.feed-section__item
                article.news-card
                    a.news-card__link(href="#") 
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-2.webp" srcset="img/news-img-2@2x.webp 2x" loading="lazy" width="540" height="303" alt="alt")
                
                        h3.news-card__title The Stanley Parable: Ultra Deluxe in Ukrainian!

                        p.news-card__descr Celebrating The Stanley Parable: Ultra Deluxe – Ukrainian localization is now available

                    .news-card__feedback
                        .rating(data-rating="4")
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                        
                        a.blue-link(href="#") 5 відгуків 

                    a.button.button--outline.news-card__button(href="#") Читати детальніше
            
            li.feed-section__item
                article.news-card
                    a.news-card__link(href="#") 
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-1.webp" srcset="img/news-img-1@2x.webp 2x" loading="lazy" width="540" height="303" alt="alt")
                
                        h3.news-card__title The Stanley Parable: Ultra Deluxe in Ukrainian!

                        p.news-card__descr Celebrating The Stanley Parable: Ultra Deluxe – Ukrainian localization is now available 

                    .news-card__feedback
                        .rating(data-rating="4")
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                        
                        a.blue-link(href="#") 5 відгуків 

                    a.button.button--outline.news-card__button(href="#") Читати детальніше
            
            li.feed-section__item
                article.news-card
                    a.news-card__link(href="#") 
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-2.webp" srcset="img/news-img-2@2x.webp 2x" loading="lazy" width="540" height="303" alt="alt")
                
                        h3.news-card__title The Stanley Parable: Ultra Deluxe in Ukrainian!

                        p.news-card__descr Celebrating The Stanley Parable: Ultra Deluxe – Ukrainian localization is now available

                    .news-card__feedback
                        .rating(data-rating="4")
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                        
                        a.blue-link(href="#") 5 відгуків 

                    a.button.button--outline.news-card__button(href="#") Читати детальніше

            li.feed-section__item
                article.news-card
                    a.news-card__link(href="#") 
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-1.webp" srcset="img/news-img-1@2x.webp 2x" loading="lazy" width="540" height="303" alt="alt")
                
                        h3.news-card__title The Stanley Parable: Ultra Deluxe in Ukrainian!

                        p.news-card__descr Celebrating The Stanley Parable: Ultra Deluxe – Ukrainian localization is now available 

                    .news-card__feedback
                        .rating(data-rating="4")
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                        
                        a.blue-link(href="#") 5 відгуків 

                    a.button.button--outline.news-card__button(href="#") Читати детальніше
            
            li.feed-section__item
                article.news-card
                    a.news-card__link(href="#") 
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-2.webp" srcset="img/news-img-2@2x.webp 2x" loading="lazy" width="540" height="303" alt="alt")
                
                        h3.news-card__title The Stanley Parable: Ultra Deluxe in Ukrainian!

                        p.news-card__descr Celebrating The Stanley Parable: Ultra Deluxe – Ukrainian localization is now available

                    .news-card__feedback
                        .rating(data-rating="4")
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                            .rating__item
                        
                        a.blue-link(href="#") 5 відгуків 

                    a.button.button--outline.news-card__button(href="#") Читати детальніше
        
        nav.pagination.news-section__pagination(aria-label="Page navigation")
            ul.pagination__list
                li.pagination__item
                    button.pagination__button(type="button" aria-label="Previous page")
                        svg.pagination__icon(width="9" height="15")
                            use(xlink:href="img/sprite.svg#arrow-left")

                li.pagination__item.is-active(aria-current="page")
                    button.pagination__button(type="button") 1
                
                li.pagination__item
                    button.pagination__button(type="button") 2
                
                li.pagination__item
                    span ...
                
                li.pagination__item
                    button.pagination__button(type="button") 10

                li.pagination__item
                    button.pagination__button(type="button" aria-label="Next page")
                        svg.pagination__icon(width="9" height="15")
                            use(xlink:href="img/sprite.svg#arrow-right")
