section#feedback-section.feedback-section.feedback-section--blue
    .container.feedback-section__container
        header.section-header
            h2.section-title.section-header__title Відгуки
            a.button.section-header__button(href="#" data-modal="modal-feedback") Залишити відгук

        ul.feedback-section__list
            li.feedback-section__item
                article.feedback-card
                    picture.feedback-card__avatar
                        img.feedback-card__avatar-img(src="img/avatar-placeholder.webp" srcset="img/avatar-placeholder@2x.webp 2x" loading="lazy" width="76" height="76" alt="alt")

                    .feedback-card__content
                        .feedback-card__header
                            .feedback-card__name-group
                                h3.feedback-card__name Покупець Покупець
                                time.feedback-card__date 17.05.2024
                            
                            .rating.feedback-card__rating(data-rating="5")
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                        
                        .feedback-card__text
                            p Файно написано і читається легко. Коли читав, виникла думка “Якби Дереш написав Гарі Потера, десь отак би воно виглядало”. Як на мій смак, інколи діалоги надто затягнуті, створює бар’єр для сприйняття. Хочеться дізнатися, чи вийде таки з нього агент!

            li.feedback-section__item
                article.feedback-card
                    picture.feedback-card__avatar
                        img.feedback-card__avatar-img(src="img/avatar-placeholder.webp" srcset="img/avatar-placeholder@2x.webp 2x" loading="lazy" width="76" height="76" alt="alt")

                    .feedback-card__content
                        .feedback-card__header
                            .feedback-card__name-group
                                h3.feedback-card__name Покупець Покупець
                                time.feedback-card__date 17.05.2024
                            
                            .rating.feedback-card__rating(data-rating="4")
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                        
                        .feedback-card__text
                            p Файно написано і читається легко. Коли читав, виникла думка “Якби Дереш написав Гарі Потера, десь отак би воно виглядало”. Як на мій смак, інколи діалоги надто затягнуті, створює бар’єр для сприйняття. Хочеться дізнатися, чи вийде таки з нього агент!
                            
            li.feedback-section__item
                article.feedback-card
                    picture.feedback-card__avatar
                        img.feedback-card__avatar-img(src="img/avatar-placeholder.webp" srcset="img/avatar-placeholder@2x.webp 2x" loading="lazy" width="76" height="76" alt="alt")

                    .feedback-card__content
                        .feedback-card__header
                            .feedback-card__name-group
                                h3.feedback-card__name Покупець Покупець
                                time.feedback-card__date 17.05.2024
                            
                            .rating.feedback-card__rating(data-rating="5")
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                        
                        .feedback-card__text
                            p Файно написано і читається легко. Коли читав, виникла думка “Якби Дереш написав Гарі Потера, десь отак би воно виглядало”. Як на мій смак, інколи діалоги надто затягнуті, створює бар’єр для сприйняття. Хочеться дізнатися, чи вийде таки з нього агент!

            li.feedback-section__item
                article.feedback-card
                    picture.feedback-card__avatar
                        img.feedback-card__avatar-img(src="img/avatar-placeholder.webp" srcset="img/avatar-placeholder@2x.webp 2x" loading="lazy" width="76" height="76" alt="alt")

                    .feedback-card__content
                        .feedback-card__header
                            .feedback-card__name-group
                                h3.feedback-card__name Покупець Покупець
                                time.feedback-card__date 17.05.2024
                            
                            .rating.feedback-card__rating(data-rating="4")
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                                .rating__item
                        
                        .feedback-card__text
                            p Файно написано і читається легко. Коли читав, виникла думка “Якби Дереш написав Гарі Потера, десь отак би воно виглядало”. Як на мій смак, інколи діалоги надто затягнуті, створює бар’єр для сприйняття. Хочеться дізнатися, чи вийде таки з нього агент!

        a.button.feedback-section__more-button(href="#" data-modal="modal-feedback") Залишити відгук
