section.news-section.news-section--blue
    .container.news-section__container
        header.section-header
            h2.section-title.section-header__title Новини
            a.button.section-header__button(href="#") Усі новини

        include ./includes/_news-slider.pug

        a.button.news-section__more-button(href="#") Усі новини
