section#projects-section.projects-section
    .container.projects-section__container
        header.section-header
            h2.section-title.section-header__title Інші проекти
            a.button.section-header__button(href="#") Усі проекти

    .projects-slider
        .swiper.projects-slider__swiper
            .swiper-wrapper.projects-slider__wrapper
                .swiper-slide.projects-slider__slide
                    a.project-card(href="#")
                        picture.project-card__picture
                            img.project-card__img(src="img/projects/project-img-1.webp" srcset="img/projects/project-img-1@2x.webp 2x" loading="lazy" width="350" height="400" alt="alt")
                        
                        h3.project-card__title Sherlock Holmes Chapter One

                        .project-card__content
                            h4.project-card__subtitle Sherlock Holmes Chapter One
                            
                            p.project-card__text Шерлок Холмс не зразу став славетним детективом, яким він постає в книжках та фільмах. Спочатку він був звичайним собі юнаком, хіба дуже кмітливим і дещо зарозумілим.

                .swiper-slide.projects-slider__slide
                    a.project-card(href="#")
                        picture.project-card__picture
                            img.project-card__img(src="img/projects/project-img-2.webp" srcset="img/projects/project-img-2@2x.webp 2x" loading="lazy" width="350" height="400" alt="alt")
                        
                        h3.project-card__title Sherlock Holmes: The Awakened

                        .project-card__content
                            h4.project-card__subtitle Sherlock Holmes: The Awakened
                            
                            p.project-card__text Шерлок Холмс не зразу став славетним детективом, яким він постає в книжках та фільмах. Спочатку він був звичайним собі юнаком, хіба дуже кмітливим і дещо зарозумілим.

                .swiper-slide.projects-slider__slide
                    a.project-card(href="#")
                        picture.project-card__picture
                            img.project-card__img(src="img/projects/project-img-1.webp" srcset="img/projects/project-img-1@2x.webp 2x" loading="lazy" width="350" height="400" alt="alt")
                        
                        h3.project-card__title Sherlock Holmes Chapter One

                        .project-card__content
                            h4.project-card__subtitle Sherlock Holmes Chapter One
                            
                            p.project-card__text Шерлок Холмс не зразу став славетним детективом, яким він постає в книжках та фільмах. Спочатку він був звичайним собі юнаком, хіба дуже кмітливим і дещо зарозумілим.

                .swiper-slide.projects-slider__slide
                    a.project-card(href="#")
                        picture.project-card__picture
                            img.project-card__img(src="img/projects/project-img-2.webp" srcset="img/projects/project-img-2@2x.webp 2x" loading="lazy" width="350" height="400" alt="alt")
                        
                        h3.project-card__title Sherlock Holmes: The Awakened

                        .project-card__content
                            h4.project-card__subtitle Sherlock Holmes: The Awakened
                            
                            p.project-card__text Шерлок Холмс не зразу став славетним детективом, яким він постає в книжках та фільмах. Спочатку він був звичайним собі юнаком, хіба дуже кмітливим і дещо зарозумілим.

                .swiper-slide.projects-slider__slide
                    a.project-card(href="#")
                        picture.project-card__picture
                            img.project-card__img(src="img/projects/project-img-1.webp" srcset="img/projects/project-img-1@2x.webp 2x" loading="lazy" width="350" height="400" alt="alt")
                        
                        h3.project-card__title Sherlock Holmes Chapter One

                        .project-card__content
                            h4.project-card__subtitle Sherlock Holmes Chapter One
                            
                            p.project-card__text Шерлок Холмс не зразу став славетним детективом, яким він постає в книжках та фільмах. Спочатку він був звичайним собі юнаком, хіба дуже кмітливим і дещо зарозумілим.


            .swiper-scrollbar.projects-slider__scrollbar

    a.button.projects-section__more-button(href="#") Усі проекти