section#social-section.social-section
    .container.social-section__container
        h2.section-title.social-section__title Слідкуйте за нами

        address.social.social-section__social
            ul.social__list
                li.social__item
                    a.social__link(href="#" aria-label="donatello")
                        svg.social__icon(width="23" height="27")
                            use(xlink:href="img/sprite.svg#donatello")

                li.social__item
                    a.social__link(href="#" aria-label="patreon")
                        svg.social__icon(width="28" height="29")
                            use(xlink:href="img/sprite.svg#patreon")
                
                li.social__item
                    a.social__link(href="#" aria-label="cofee")
                        svg.social__icon(width="21" height="29")
                            use(xlink:href="img/sprite.svg#cofee")
                
                li.social__item
                    a.social__link(href="#" aria-label="facebook")
                        svg.social__icon(width="17" height="32")
                            use(xlink:href="img/sprite.svg#facebook")
                
                li.social__item
                    a.social__link(href="#" aria-label="x")
                        svg.social__icon(width="27" height="25")
                            use(xlink:href="img/sprite.svg#x")
                
                li.social__item
                    a.social__link(href="#" aria-label="telegram")
                        svg.social__icon(width="27" height="24")
                            use(xlink:href="img/sprite.svg#telegram")
                
                li.social__item
                    a.social__link(href="#" aria-label="linkedin")
                        svg.social__icon(width="22" height="21")
                            use(xlink:href="img/sprite.svg#linkedin")
                
                li.social__item
                    a.social__link(href="#" aria-label="discord")
                        svg.social__icon(width="33" height="23")
                            use(xlink:href="img/sprite.svg#discord")
                
                li.social__item
                    a.social__link(href="#" aria-label="instagram")
                        svg.social__icon(width="29" height="29")
                            use(xlink:href="img/sprite.svg#instagram")
                
                li.social__item
                    a.social__link(href="#" aria-label="twitch")
                        svg.social__icon(width="25" height="28")
                            use(xlink:href="img/sprite.svg#twitch")
                
                li.social__item
                    a.social__link(href="#" aria-label="youtube")
                        svg.social__icon(width="31" height="21")
                            use(xlink:href="img/sprite.svg#youtube")
                
                li.social__item
                    a.social__link(href="#" aria-label="youtube")
                        svg.social__icon(width="31" height="21")
                            use(xlink:href="img/sprite.svg#youtube")
                        
                        span.social__title Освітній

                li.social__item
                    a.social__link(href="#" aria-label="mastodon")
                        svg.social__icon(width="31" height="32")
                            use(xlink:href="img/sprite.svg#mastodon")
                
                li.social__item
                    a.social__link(href="#" aria-label="bluesky")
                        svg.social__icon(width="31" height="28")
                            use(xlink:href="img/sprite.svg#bluesky")
