section.success-section
    .container.success-section__container
        .success-section__content
            .success-section__text
                p Ваша заявка успішно прийнята.
                p Найближчим часом Ми з Вами зв'яжемось для консультації по вашому питанню.

            h1.success-section__title З поговагою, 
                br
                | команда Шлякбитраф!

            a.button.button--white-hover.success-section__button(href="#") На головну

    picture.success-section__bg
        source(srcset="img/banner-img-mobile@2x.webp 2x, img/banner-img-mobile.webb" width="375" height="262" media="(max-width: 767.98px)")
        img.success-section__bg-img(src="img/banner-img.webp" srcset="img/banner-img@2x.webp 2x" width="1175" height="707" alt="alt")
