section#support-section.support-section
    .container.support-section__container
        .support-section__left
            .join.support-section__join
                h2.join__title Долучайтеся

                .join__text
                    p Ми завжди раді новим талановитим, сповненим ентузіазму особам, які хочуть спробувати свої сили в локалізації ігор.
                    p Нам потрібні перекладачі та редактори локалізацій.
                    
                    h3 Основні вимоги до кандидатів:
                    p 1) високий рівень знань української та англійської мов (Просимо попередньо перевірити свої знання та навички за допомогою ТЕСТУ, що на сторінці Вакансії. Мета тесту: ознайомити кандидатів зі зразками ігрових текстів, що містять різноманітні, але далеко не всі проблеми, а також допомогти зрозуміти, чи можуть із таким упоратися.);
                    p 2) відповідальність;
                    p 3) мати змогу опрацьовувати щонайменше 2000 слів за місяць;
                    p 4) Telegram (для зв’язку та обговорень).

        .support-section__right
            .support.support-section__support
                h2.support__title Підтримайте нас
                p.support__text Якщо ви не маєте часу на заняття українізацією ігор, але небайдужі до теми української мови в іграх, то можете допомогти нашій справі. 

                h3.support__subtitle Зробіть це зручним для вас способом:

                nav.donation.support__donation
                    ul.donation__list
                        li.donation__item
                            a.donation__link.donation__link--white(href="#")
                                .donation__pic
                                    svg.donation__icon(width="28" height="29")
                                        use(xlink:href="img/sprite.svg#patreon")

                                span.donation__title Patreon
                        
                        li.donation__item
                            a.donation__link.donation__link--white(href="#")
                                .donation__pic
                                    svg.donation__icon(width="30" height="32")
                                        use(xlink:href="img/sprite.svg#monobank")

                                span.donation__title Монобанка
                        
                        li.donation__item
                            a.donation__link.donation__link--white(href="#")
                                .donation__pic
                                    svg.donation__icon(width="21" height="29")
                                        use(xlink:href="img/sprite.svg#cofee")

                                span.donation__title Buy me a coffee
                        
                        li.donation__item
                            a.donation__link.donation__link--white(href="#")
                                .donation__pic
                                    svg.donation__icon(width="23" height="27")
                                        use(xlink:href="img/sprite.svg#donatello")

                                span.donation__title Donatello
                
                p.support__text Усі накопичені кошти йдуть на розвиток організації та руху.
