section#team-section.team-section
    .container.team-section__container
        header.section-header
            h2.section-title.section-header__title Склад організації

        .team-slider
            .swiper.team-slider__swiper
                .swiper-wrapper.team-slider__wrapper
                    .swiper-slide.team-slider__slide
                        article.team-card
                            picture.team-card__picture
                                img.team-card__img(src="img/team/team-img-1.webp" srcset="img/team/team-img-1@2x.webp 2x" loading="lazy" width="360" height="360" alt="alt")
                        
                            h3.team-card__name Олексій «Stravenger» Іванов
                            p.team-card__position керівник, англійський редактор, контактна особа
                    
                    .swiper-slide.team-slider__slide
                        article.team-card
                            picture.team-card__picture
                                img.team-card__img(src="img/team/team-placeholder.webp" srcset="img/team/team-placeholder@2x.webp 2x" loading="lazy" width="360" height="360" alt="alt")

                            h3.team-card__name Софія «Selina Sebro» Шуль
                            p.team-card__position адміністратор, редактор, контактна особа
                    
                    .swiper-slide.team-slider__slide
                        article.team-card
                            picture.team-card__picture
                                img.team-card__img(src="img/team/team-img-2.webp" srcset="img/team/team-img-2@2x.webp 2x" loading="lazy" width="360" height="360" alt="alt")
                        
                            h3.team-card__name Оля Хмельницька
                            p.team-card__position перекладач, помічник редактора
                    
                    .swiper-slide.team-slider__slide
                        article.team-card
                            picture.team-card__picture
                                img.team-card__img(src="img/team/team-img-3.webp" srcset="img/team/team-img-3@2x.webp 2x" loading="lazy" width="360" height="360" alt="alt")
                        
                            h3.team-card__name Юрій «Shahor» Бісик
                            p.team-card__position перекладач, англійський редактор

                    .swiper-slide.team-slider__slide
                        article.team-card
                            picture.team-card__picture
                                img.team-card__img(src="img/team/team-img-1.webp" srcset="img/team/team-img-1@2x.webp 2x" loading="lazy" width="360" height="360" alt="alt")
                        
                            h3.team-card__name Олексій «Stravenger» Іванов
                            p.team-card__position керівник, англійський редактор, контактна особа
                    
                    .swiper-slide.team-slider__slide
                        article.team-card
                            picture.team-card__picture
                                img.team-card__img(src="img/team/team-placeholder.webp" srcset="img/team/team-placeholder@2x.webp 2x" loading="lazy" width="360" height="360" alt="alt")

                            h3.team-card__name Софія «Selina Sebro» Шуль
                            p.team-card__position адміністратор, редактор, контактна особа
                    
                    .swiper-slide.team-slider__slide
                        article.team-card
                            picture.team-card__picture
                                img.team-card__img(src="img/team/team-img-2.webp" srcset="img/team/team-img-2@2x.webp 2x" loading="lazy" width="360" height="360" alt="alt")
                        
                            h3.team-card__name Оля Хмельницька
                            p.team-card__position перекладач, помічник редактора
                    
                    .swiper-slide.team-slider__slide
                        article.team-card
                            picture.team-card__picture
                                img.team-card__img(src="img/team/team-img-3.webp" srcset="img/team/team-img-3@2x.webp 2x" loading="lazy" width="360" height="360" alt="alt")
                        
                            h3.team-card__name Юрій «Shahor» Бісик
                            p.team-card__position перекладач, англійський редактор

                .swiper-scrollbar.team-slider__scrollbar
