section.vacancies-section
    .container.vacancies-section__container
        ul.vacancies-section__list
            li.vacancies-section__item
                article.vacancy-card
                    h3.vacancy-card__title Перекладач
                    
                    .vacancy-card__text
                        p Наша компанія активно розвивається. Обсяги та кількість замовлень постійно зростають.
                    
                    .vacancy-card__bottom
                        a.button.button--blue.vacancy-card__button(href="#") Детальніше

                        .vacancy-card__location
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | м. Київ
            
            li.vacancies-section__item
                article.vacancy-card
                    h3.vacancy-card__title Перекладач
                    
                    .vacancy-card__text
                        p Наша компанія активно розвивається. Обсяги та кількість замовлень постійно зростають.
                    
                    .vacancy-card__bottom
                        a.button.button--blue.vacancy-card__button(href="#") Детальніше

                        .vacancy-card__location
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | м. Київ
            
            li.vacancies-section__item
                article.vacancy-card
                    h3.vacancy-card__title Перекладач
                    
                    .vacancy-card__text
                        p Наша компанія активно розвивається. Обсяги та кількість замовлень постійно зростають.
                    
                    .vacancy-card__bottom
                        a.button.button--blue.vacancy-card__button(href="#") Детальніше

                        .vacancy-card__location
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | м. Київ
                            
            li.vacancies-section__item
                article.vacancy-card
                    h3.vacancy-card__title Перекладач
                    
                    .vacancy-card__text
                        p Наша компанія активно розвивається. Обсяги та кількість замовлень постійно зростають.
                    
                    .vacancy-card__bottom
                        a.button.button--blue.vacancy-card__button(href="#") Детальніше

                        .vacancy-card__location
                            svg.vacancy-card__location-icon(width="19" height="23")
                                use(xlink:href="img/sprite.svg#location")
                            | м. Київ
        
        nav.pagination.news-section__pagination(aria-label="Page navigation")
            ul.pagination__list
                li.pagination__item
                    button.pagination__button(type="button" aria-label="Previous page")
                        svg.pagination__icon(width="9" height="15")
                            use(xlink:href="img/sprite.svg#arrow-left")

                li.pagination__item.is-active(aria-current="page")
                    button.pagination__button(type="button") 1
                
                li.pagination__item
                    button.pagination__button(type="button") 2
                
                li.pagination__item
                    span ...
                
                li.pagination__item
                    button.pagination__button(type="button") 10

                li.pagination__item
                    button.pagination__button(type="button" aria-label="Next page")
                        svg.pagination__icon(width="9" height="15")
                            use(xlink:href="img/sprite.svg#arrow-right")
