section.header-section
    .container.header-section__container
        h1.header-section__title Перекладач

        nav.breadcrumbs.header-section__breadcrumbs(aria-label="breadcrumb")
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Головна
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Вакансії
                li.breadcrumbs__item(aria-current="page") Перекладач
