section.vacancy-section
    .container.vacancy-section__container
        .vacancy-section__text
            h2 Кого потребує спілка Шлякбитраф/SBT Localization?
            p Спілка завжди потребує нових перекладачів та редакторів, тому залюбки приймемо Вас до своєї команди, якщо вдало пройдете ТЕСТ на перевірку знань та навичок, а також пробне завдання.

            h2 Чи потрібен досвід?
            p Досвід у перекладі вітається, але не є обов’язковим, тож запрошуємо і студентів.
            p Бажано мати навички користування Crowdin, однак це теж не є обов’язковою вимогою, навчимо в процесі.

            h2 Які основні вимоги для кандидатів?
            p 1) високий рівень знань української та англійської мов;
            p 2) відповідальність та уважність;
            p 3) Telegram або Discord (для зв’язку та обговорень, перевага для Telegram);
            p 4) мати змогу опрацьовувати щонайменше 2000 (дві тисячі) слів на місяць;
            p
                strong.blue-color УВАГА!
                |  Просимо попередньо перевірити свої знання та навички за допомогою ТЕСТУ. Мета тесту: ознайомити кандидатів зі зразками ігрових текстів, що містять різноманітні (але далеко не всі) проблеми, а також допомогти зрозуміти, чи можуть із таким впоратися.

            h2 Кілька слів про тест
            p 1) Завдання підібрані редакторами на основі частих помилок, а також різноманітних ситуацій, з якими доводиться мати справу перекладачеві відеоігор.
            p 2) Під час виконання можна і навіть треба користуватися інтернет-пошуком.
            p 3) Якщо деякі завдання здаватимуться вам надто важкими, бо нічого не зрозуміло без контексту, бо «якась технічна фігня» становить третину речення, бо з такими термінами не мали справи тощо, то значить так і є, welcome to hell.
            p 4) Не поспішайте, уважно читайте умову завдання та варіанти відповідей.

            h2 Тест вдало пройдено. Що тепер?
            p Якщо за результатами тесту ви набрали 
                strong.blue-color щонайменше 25 балів
                | , то завітайте на сторінку Контакти і відправте нам повідомлення. З вами зв’яжеться контактна особа й надішле пробне завдання.
            p Українізація ігрових світів чекає своїх героїв!